html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    gap: 3px;
}

canvas {
    width: 100%;
    flex: 10;
}

.txtarea {
    flex: 10;
    font-size: 16px;
    padding-inline-start: 10px;
}

#error-message {
    flex: 1;
    color: red;
}